*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alfa Slab one 1 style', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1.1rem;
    background-color: #022040;
    font-size: larger;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.card {
    padding: 0.5rem;
    background: #fff;
    text-align: left;
    color: black;
    display: block;
    
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: black;
}

nav {
    background-color:brown;
    margin: 0 auto;
    max-width: 70vw;
}


nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1.0rem;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
}

nav .active {
    background-color: #4b10024f;
}
h2 #info-title,#activity-title {
    text-align:center;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    background-color: #010120;
    box-sizing: border-box;
    color: #e6f2ff;
}
img{
    border-radius: 0.5rem;
    align-content: flex-start;
}
footer{
    text-align: center;
}
p,#bottom,#info-title,#activity-title{
    text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

h2 {
		font-size: 1.2rem;
		color: navy;
		text-align: left;
		margin: 1rem;
	}

nav {
	max-width: 700px;
	margin: 1rem auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
top: 1rem;
right:1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}
